<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
     <!-- header -->
     <%- include('../partials/header') %>
    <!-- main -->
    <main>
        <br><br>
        <div class="infotable">  
        <table>
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr> 
            </thead>
            <tbody>
                <tr>
                    <td data-label="firstname"><%= user[param].firstname %></td>
                    <td data-label="lastname"><%= user[param].lastname %></td>
                    <td data-label="email"><%= user[param].email %></td>
                    <td data-label="password"><div class="pwd"><%= user[param].password %></td>
                </tr>
                
            </tbody>
        </table>
        </div>
    </main>
    <!-- footer -->
    <%- include('../partials/footer') %>
</body>
</html>