<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- header -->
    <%- include('../partials/header') %>
    <!-- main -->
    <main>  
        <br><br>
        <div class="infotable">
            <h1 class="heading">Users Info</h1>
            <form class="userinteraction" method="get" action="/addusers">
              <!--   <label for="uid">UserId: </label>
                <input type="text" id="uid"> -->
               <!--  <input class="searchbtn" onclick="tableSearch()" value="Search"> -->
                <input class="addbtn" type="submit" value="Add New Users">
            </form>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th>Password</th>
                       <!--  <th>Action</th> -->
                    </tr> 
                </thead>
                <tbody>
                    <% for(let i=0;i<users.length;i++){ %>
                    <tr>
                        <td data-label="user id"><%= users[i].userid %></td>
                        <td data-label="firstname"><%= users[i].firstname %></td>
                        <td data-label="lastname"><%= users[i].lastname %></td>
                        <td data-label="email"><%= users[i].email %></td>
                        <td data-label="password" ><div class="pwd"><%= users[i].password %></div></td>
                       <!--  <td><button>View</button></td> -->
                    </tr>
                    <%} %>
                </tbody>
            </table>
        </div>
        
    </main>
    <!-- footer -->
    <%- include('../partials/footer') %>
</body>
</html>